body {
    background-color: bisque;
    font-family: 'Arial', serif;
  }
  header{ 
    background-color: rgb(128, 204, 162);
    padding: 15px;
    text-align: center;
  }
  h1 h2{
    margin-bottom: 10px;
  }
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  nav a {
    text-decoration: underline;
    color: white;
    font-weight: bold;
    margin-right: 10px;
  }
  section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(138, 113, 113)a1a;
    box-shadow: 0 0 10px rgba(80, 80, 80, 0.1);}

article {
    display: flex;
    flex-direction: column;}

footer {
      background-color: #333;
      color: rgb(128, 204, 162);
      padding: 15px;
      text-align: center;} 
form {
      margin-top: 20px;}

nav {
      position: sticky;
        top: 0;
        z-index: 100;
        background-color: #333;}
article {display: flex;
          flex-direction: column;}
label {display: block;
       margin-bottom: 5px;
      font-weight: bold;
          }
form {display: flex;
      flex-direction: column;
      flex: 100px;   }
        