body {
    background-color: bisque;
    font-family: 'Arial', serif;
  }
  header{ 
    background-color: rgb(128, 204, 162);
    padding: 10px;
    text-align: center;
  }
  h1 h2{
    margin-bottom: 10px;
  }